<h1>Dear Sir</h1>

<p>
  A new
  <%= @obj.class.to_s%> has been created. Below are the details of the object created.
</p>

<% @obj.attributes.each do |attr_key, attr_val| %>
  <p>
    <strong> <%= attr_key %> </strong>: <%= attr_val %>
  </p>
<%end%>

<h4>Now <%= @obj.class.to_s %> has total <%= @obj_count %> records</h4>

<h5>Regards</h5>
<p>Rails Mailer</p>

